body {
    background: linear-gradient(50deg, #fbda61, #ff5acd) fixed;
    padding: 5px 0 30px;
    font-family: 'Merriweather', serif;
    font-size: 16px
}

.logo {
    text-align: center;
}

.logo img {
    margin: 20px;
}

#app {
    background: #fff;
    color: #333;
    padding: 20px 35px;
    width: 840px;
    margin: auto
}

.search {
    text-align: center;
    margin: 55px;
}
.search input {
    height: 30px;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 5px;
    font-size: 22px;
    outline: none;
    color: #333;
    text-align: center;
}
.search button {
    height: 40px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.search button > img {
    height: 28px;
    margin: -8px 10px;
}

.cta {
    display: block;
    margin: 45px auto 30px;
    border: none;
    padding: 10px;
    outline: none;
    background-color: #fd85a8;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #d14
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin: 0
}

.github-corner:hover .octo-arm {
    animation: wave 560ms ease-in-out
}

@keyframes wave {
    0%, 100% {transform: rotate(0)}
    20%, 60% {transform: rotate(-25deg)}
    40%, 80% {transform: rotate(10deg)}
}

@media screen and (max-width: 768px) {
    .github-corner {
        display: none
    }
}